.Banner-guide {
  height: 344px;
  align-items: flex-start;
  background: #F0A63E;
  border-radius: 16px 16px 0 0;

  .Banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include sm {
      object-fit: contain;
    }
  }

  @include sm {
    border-radius: 0
  }
}
