@import "~tailwindcss/base.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities";
@import "~normalize.css";
@import "utils";

@import "../../components/Container/Container";
@import "../../components/Header/Header";
@import "../../components/Banner/Banner";
@import "../../components/Button/Button";
@import "../../components/Footer/Footer";
@import "../../components/Contact/ContactForm";
@import "../../components/Card/Card";
@import "../../components/Guide/Guide";
@import "../../components/Markdown/Markdown";

body {
  font-family: $font-family-base;
  font-size: 62.6%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: $light-steal;
  color: $grey;
}

.text-yellow {
  color: $yellow-l;
}

.text-grey {
  color: $grey;
}

.text-dark {
  color: $darkest;
}

@include md {
  .md-hidden {
    display: none;
  }
}

@include sm {
  .sm-show {
    display: block;
  }

  .sm-hidden {
    display: none;
  }
}
