@import "../../pages/styles/utils";
@import "Dropdown";

.Header {
  position: fixed;
  top: 0;
  height: $header-sm;
  width: 100%;
  z-index: 2;
  background: $white;
  display: flex;
  align-items: center;

  @include md {
    height: $header-height;
  }
}

.dark-mode .Header {
  background: $dark;
}

.Header-logo {
  width: 100%;
  cursor: pointer;

  @include sm {
    width: 70%;
  }
}

.light-mode .HeaderLogo_svg__brand {
  fill: black;
}

.dark-mode .HeaderLogo_svg__brand {
  fill: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;

  .nav-item, .nav-icon {
    margin-left: 20px;
    cursor: pointer;
  }

  .nav-item-subscribe {
    color: white;
  }

  @include sm {
    display: none;
  }
}

.nav-language {
  position: relative;
  padding: 14px 4px;

  &:hover > .dropdown-menu {
    display: block;
  }
}

.navbar-dropdown {
  display: none;
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  top: 0;
  z-index: 1;

  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .nav-item, .nav-icon {
    border: none;
    background: transparent;
    margin-left: 0;
    margin-top: 40px;
    font-size: 22px;
    line-height: 29px;
  }

  .nav-item-subscribe {
    color: $yellow-l;
  }
}

.dark-mode .navbar-dropdown {
  background: $dark;
}

.Menu-wrap {
  z-index: 2;
  display: none;
  cursor: pointer;

  @include sm {
    display: block;
  }
}

.Menu-close {
  display: none;
}

.nav-logo {
  display: flex;
  justify-content: center;
  padding-top: 30%;
}

.light-mode .Button-nav {
  color: $darkest;
}

.dark-mode .Button-nav {
  color: $grey-light;
}
