@import "../../pages/styles/utils.scss";

.Markdown-container {
  display: flex;
  position: relative;

  @include sm {
    padding: 0;
  }
}

.Progress-container {
  height: 2px;
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.light-mode .Progress-container {
  background: $light-soft;
}

.dark-mode .Progress-container {
  background: $dark-light;
}

.Progress-bar {
  height: 2px;
  background: $yellow-l;
}

.Markdown {
  p, ul, ol, blockquote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ul, ol {
    list-style: inherit;
    padding-left: 1.1em;
  }

  h1, h2, h3 {
    scroll-margin-top: 160px;

    @include md {
      scroll-margin-top: 120px;
    }
  }

  h1 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
  }

  h2 {
    font-size: 24px;
    line-height: 33px;
    font-weight: 500;
  }

  h3 {
    font-size: 20px;
    line-height: 27px;
  }

  blockquote {
    background: $light;
    padding: 12px 12px 12px 16px;
    position: relative;

    &:before {
      position: absolute;
      top: 13px;
      bottom: 13px;
      margin-left: -16px;
      width: 4px;
      display: block;
      content: "";
      background: $grey;
    }

    @include md {
      padding-left: 24px;

      &:before {
        margin-left: -24px;
      }
    }

    > * {
      margin: 0;
    }
  }
}

.dark-mode .Markdown {
  blockquote {
    background: $dark-soft;
  }
}

.Markdown-content {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-right: 24px;
  padding: 0 24px 24px;
  border-radius: 0;
  overflow: hidden;

  @include md {
    padding: 36px 88px;
    margin-bottom: 58px;
    margin-top: 36px;
    border-radius: 16px;
  }
}

.Markdown-banner {
  margin-top: 36px;
  margin-right: 24px;

  @include sm {
    margin-top: 0
  }
}


.Markdown-banner, .Markdown-content, .Markdown-side {
  @include sm {
    margin-right: 0;
    width: 100%;
  }
}

.Markdown-side-content {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: sticky;
  top: $header-height+36px;
  margin-bottom: 58px;

  @include sm {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }
}

.light-mode .Markdown-content,
.light-mode .Markdown-side-content {
  background: $white;
}

.dark-mode .Markdown-content,
.dark-mode .Markdown-side-content {
  background: $dark;
}

.Markdown-side-fixed {
  position: sticky;
  width: 100%;
  top: 80px;
  z-index: 1;
}

.Markdown-side-head {
  flex: 1;
  height: 70px;
  display: flex;
  align-items: center;
}

.Markdown-side-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding: 16px 32px;
  min-height: 50px;
  max-height: 72px;
  color: $yellow-l;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Markdown-title-action {
  display: flex;
  align-items: center;
  border: 1px solid $yellow-l;
  border-radius: 8px;
  overflow: hidden;
}

.Markdown-title-icon {
  padding: 10px 12px;
  cursor: pointer;
  height: 36px;
  display: flex;
  align-items: center;

  &:hover {
    background: $yellow-l;

    path {
      fill: white;
    }
  }
}

.Markdown-title-divider {
  width: 1px;
  height: 36px;
  background: $yellow-l;
}

.Markdown-side-bottom {
  @include sm {
    display: none;
  }
}

.Markdown-menu {
  max-height: 300px;
  overflow: auto;

  @include sm {
    display: none;
    position: absolute;
    width: 100%;
  }
}

.light-mode .Markdown-menu {
  background: $light;
}

.dark-mode .Markdown-menu {
  background: $dark-soft;
}

.Markdown-menu-head {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.Markdown-menu-item {
  padding: 12px 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  a {
    color: $grey;
    padding: 12px 0;
  }
}

.light-mode .Markdown-menu-item,
.light-mode .Markdown-menu-bordered {
  border-bottom: 1px solid $light-soft;

  a:hover,
  a.current {
    color: $darkest;
  }
}

.dark-mode .Markdown-menu-item,
.dark-mode .Markdown-menu-bordered {
  border-bottom: 1px solid $dark-light;

  a:hover,
  a.current {
    color: $grey-light;
  }
}
