@import "../../pages/styles/utils.scss";

.Markdown-container {
  display: flex;
  position: relative;

  @include sm {
    flex-direction: column-reverse;
    padding: 0;
  }
}

.Markdown-section {
  margin-top: 36px;
  border-radius: 16px;

  @include sm {
    border-radius: 0;
  }
}

.Markdown-content {
  margin-right: 24px;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 24px; // 36px - 24px from paragraph

  @include md {
    padding: 18px 88px; // 42px - 24px from paragraph
    margin-top: 36px;
    margin-bottom: 58px;
  }

  @include sm {
    margin-top: 0;
  }

  p, ul, ol, blockquote {
    @apply my-6;
  }

  h2 {
    @apply text-3xl mt-12 mb-4 leading-snug;
  }

  h3 {
    @apply text-2xl mt-8 mb-4 leading-snug;
  }
}

.Markdown-banner {
  margin-top: 36px;
  margin-right: 24px;

  @include sm {
    padding: 0 24px;
  }
}

.Markdown-banner, .Markdown-content, .Markdown-side {
  @include sm {
    margin-right: 0;
    width: 100%;
  }
}

.Markdown-side-content {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: sticky;
  top: $header-height+36px;

  @include sm {
    box-shadow: none;
    border-radius: 0;
  }
}

.light-mode .Markdown-content,
.light-mode .Markdown-side-content {
  background: $white;
}

.dark-mode .Markdown-content,
.dark-mode .Markdown-side-content {
  background: $dark;
}

.Markdown-side-fixed {
  position: sticky;
  width: 100%;
  top: 80px;
}

.Markdown-side-head {
  flex: 1;
  height: 70px;
  display: flex;
  align-items: center;
}

.Markdown-side-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding: 16px 32px;
  min-height: 50px;
  max-height: 72px;
  color: $yellow-l;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Markdown-title-action {
  display: flex;
  align-items: center;
  border: 1px solid $yellow-l;
  border-radius: 8px;
  overflow: hidden;
}

.Markdown-title-icon {
  padding: 10px 12px;
  cursor: pointer;
  height: 36px;
  display: flex;
  align-items: center;

  &:hover {
    background: $yellow-l;

    path {
      fill: white;
    }
  }
}

.Markdown-title-divider {
  width: 1px;
  height: 36px;
  background: $yellow-l;
}

.Markdown-side-bottom {
  @include sm {
    display: none;
  }
}

.Markdown-menu {
  max-height: 300px;
  overflow: auto;

  @include sm {
    display: none;
    position: absolute;
    width: 100%;
  }
}

.light-mode .Markdown-menu {
  background: $light;
}

.dark-mode .Markdown-menu {
  background: $dark-soft;
}

.Markdown-menu-head {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.Markdown-menu-item {
  padding: 12px 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  a {
    color: $grey;
    padding: 12px 0;
  }
}

.light-mode .Markdown-menu-item,
.light-mode .Markdown-menu-bordered {
  border-bottom: 1px solid #E1E1E5;

  a:hover,
  a.current {
    color: $darkest;
  }
}

.dark-mode .Markdown-menu-item,
.dark-mode .Markdown-menu-bordered {
  border-bottom: 1px solid #37393B;

  a:hover,
  a.current {
    color: $grey-light;
  }
}
